$button-transition: 150ms ease-out;

$button-idle-color: #b0aebb;
$button-hover-color: #f9f9fa;
$button-active-color: #f9f9fa;

$button-idle-bg: #302e42;
$button-hover-bg: #474658;
$button-active-bg: linear-gradient(90deg, #474658, #302e42);

$button-navbar-idle-color: #b0aebb;
$button-navbar-hover-color: #f9f9fa;
$button-navbar-active-color: #f9f9fa;

$button-navbar-idle-bg: #1b1a26;
$button-navbar-hover-bg: #2b2a3d;
$button-navbar-active-bg: #2b2a3d;
