:root {
  --font-color-100: hsl(220, 4%, 90%);
  --font-color-200: hsl(220, 4%, 80%);
  --font-color-300: hsl(220, 4%, 70%);
  --font-color-400: hsl(220, 4%, 60%);
  --font-color-500: hsl(220, 4%, 50%);

  --bg-color-100: hsl(220, 8%, 8%);
  --bg-color-200: hsl(220, 8%, 10%);
  --bg-color-300: hsl(220, 8%, 12%);
  --bg-color-400: hsl(220, 8%, 14%);
  --bg-color-500: hsl(220, 8%, 18%);

  --accent-color: hsl(220, 82%, 64%);

  --code-tag-color: hsl(93, 100%, 69%);
  --code-class-name-color: hsl(50, 70%, 68%);
  --code-attr-name-color: hsl(209, 98%, 79%);
  --code-attr-value-color: hsl(277, 61%, 66%);
}
